header,
tr {
    text-align: center;
}

body {
    background-color: rgb(110, 102, 102);
}
#activities-table{
    width: 600px;      
    background-color: burlywood   
}
.main-div{
    padding: 0px 400px;
}

.section-footer {
    position: absolute;
    bottom: 0px;
}

.new-row-control {
    width: 350px;
    padding: 10px 500px;    
}

.column_number {
    width: 35px;
}

.column_name {
    width: 85px;
}

.column_date {
    width: 220px;
}

.read-mode .edit-control{
    display: none;
}

.edit-mode .read-control {
    display: none;
}